$wedding-background-color: #000;

.announcement__section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imgs/bridal-groombride-feet.jpg");
   // background-color: rgb(247, 130, 150);
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    color: #fafafad8;
    height: 25em;
    //height: 42.313em;   
}