
.no-padding { // overriding bootstraps 15px left and right for the 
    padding-left: 0;
    padding-right: 0;
}

.story__section {
    @include padding-top-bottom(2em);
    background-color: $primary-bg-color;
    background-size: cover;
}
.story__line { // horizontal rule line.
  @include hr-rule;
}
.story__img {
    background-color: $primary-bg-color;
    width: 50%;
    
}
.card {
    @include inline-flex-align; // align items
    background-color: $primary-bg-color;
}

