$story-hr-color: #fff;
$story-section-bg-color: rgba(192, 245, 247, 0.918);

.story__section {
    background: $story-section-bg-color;
    background-size: cover;
}
.story__line {
    background-color: $story-hr-color; 
    width: 60%;
}