
// mixin scripts for alignment.
@mixin flex-center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin inlineflex-center-items {
  display: inline-flex;
  align-items: center;
}