
@mixin hr-rule {
  background-color: $hr-color;
  border-radius: 15%;
  height: 0.15em;
  width: 35%;
}

@mixin padding($num) {
  padding-top: $num;
  padding-bottom: $num;
}

@mixin padding-top-bottom($top, $bottom) {
  padding-top: $top;
  padding-bottom: $bottom;
}